# Flask y dependencias del core
flask>=3.0
python-dotenv>=1.0

# Base de datos y ORM
psycopg2-binary  
Flask-SQLAlchemy
Flask-Migrate    

# Seguridad y Utilidades
Flask-Bcrypt     
Flask-Mail       
Flask-CORS      

qrcode

pytest>=7.0  # Para testing
