/* Page-level layouts */
.page--landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Anchor offset to account for sticky header */
#hero,
#features,
#learn,
#about,
#plotter,
#contact {
  scroll-margin-top: calc(var(--header-height, 72px) + 16px);
}

.learn-aliases {
  position: relative;
  width: 100%;
  height: 1px;
}

.learn-alias {
  position: absolute;
  inset-inline: 0;
  top: 0;
  height: 1px;
}